.container{
    max-width: 1500px;
    padding: 50px 100px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.form_container{
    width: 550px;
    /* box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px; */
    /* margin-right: 50px; */
    padding-block: 20px;
    height: min-content;
}




@media print {
  .container{
      display: block;
      margin: 0;
      padding:0;
      border: 0;
  }
  .form_container{
    box-shadow: none;
    padding: 0;
    margin: 0;
  }
}