.container{
    max-width: 2000px;
    padding: 50px 100px;
    margin: auto;
    display: flex;
}
.form_container{
    margin: auto;
    width: 700px;
    border-right: 0.1px solid #39ace7;
    background-color: #39ade70b;
}
main{
    max-width: 2000px;
    padding: 50px 100px;
    margin: auto;
}





.section{
    width: 720px;
    margin-inline: auto;
    flex-shrink: 0;
}

.section div >div{
    display: flex;
    gap: 20px;
    padding: 0;
  }
  


  
  .section input{
    height: 50px;
    
  }

  ul{
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
  
  }
  ul:nth-of-type(2){
    list-style: none;
    display: flex;
    gap: 10px;
    padding:0;
  }
  ul:nth-of-type(2) li{
    border: 1px solid gray;
    padding:3px 10px;
    border-radius: 30px;
  }
  ul ul{
    list-style-type: square;
    padding-inline: 30px;
  }
  ul:nth-of-type(3) > li:nth-of-type(2n) .date{
    text-align: end;
    padding-right: 20px;
    background-color: white;
    transform: translateX(25px);
    padding-bottom: 10px;
    width: 100%;
  }
  ul:nth-of-type(3) > li:nth-of-type(2n+1) .date{
    background-color: white;
    transform: translateX(-35px);
    padding-bottom: 10px;
  }
  ul:nth-of-type(3) > li .date ~p{
    margin-top: 0;
  }
  ul:nth-of-type(3) > li:nth-of-type(2n) .date ~p{
    text-align: end;
    margin-right: 10px;
    margin-bottom: 0;
  }
  ul:nth-of-type(3) > li:nth-of-type(2n) h2{
    margin-top: 0;
  }
  .section h2{
    color: black;
    font-size: 20px;
  }
  .section h1{
    text-transform: uppercase;
  }
  svg{
    width: 20px;
    height: 20px;
  }
  ul:has(svg){
    display: flex;
    gap: 20px;
  }
  .date{
    color: darkblue;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  @media print {
    header, footer, aside, form, button, title, nav {
      display: none;
      border: 0;
    }
    .form_container, .container, main{
        display: block;
        margin: 0;
        padding:0;
        border: 0;
        line-height: 25px;
    }

    .section {
      width:100%!important;
      padding:0!important;
      margin:0!important;
      display: block;
      -webkit-print-color-adjust: exact !important;
      box-shadow: none;
      border: 0;
    }
    
  }
  @page {
    margin: 10px 50px;
    size: auto;
  }
  
   