.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
.nav_bar ul{
    display: flex;
    list-style: none;
}
.logo{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
}
.logo span{
    display: block;
    color:#fe6703;
}
.nav_bar a, .nav_bar a:visited{
    text-decoration: none;
    color: black;
    font-weight: 700;
    padding: 7.5px 15px;
}
.nav_bar a:hover{
    background-color: gainsboro;
}
.nav_bar .active_link, .nav_bar .active_link:visited{
    background-color: #fe6703;
    color: whitesmoke;
}