.templates{
    padding: 50px;
    /* min-height: calc(100vh - 50px); */
    box-sizing: border-box;
    display: grid;
    place-content: center;
    background-color: white;
    max-width: 2000px;
    margin: auto;
}
main{
    min-height: calc(100vh - 50px);
    display: grid;
    place-content: center;
    background-color: #fac5707a;
}
.templates ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding:0;
    margin-top: 50px;
}
.templates img{
    width: 100%;
    transition: all 200ms ease-in-out;
}
.templates img:hover{
    transform: scale(1.1);
}

.faq{
    padding: 50px;
    /* min-height: calc(100vh - 50px); */
    box-sizing: border-box;
    background-color: whitesmoke;
}
.faq_content{
    max-width: 2000px;
    margin: auto;
}
h2{
    color: #fe6703;
    font-size: 30px;
}
.faq li{
    padding-block: 20px;
    font-size: 22px;
}

@media screen and (max-width:720px){
    .templates ul{
        display: grid;
    }
}