.footer{
    background-color: #0f141e;
    color: white;
    bottom:0;
    padding: 40px 150px;
    margin:auto;
}
.footer_content{
    max-width: 1500px;
    display: flex;
    gap: 100px;
    margin: auto;
    max-width: 2000px;
}
.footer h3{
    margin:0;
    padding-block: 10px;
    color: #fe6703;
    color: #00C8AA;
    color: 	#39ace7;
}
.footer ul{
    list-style: none;
    padding:0;
    margin:0;
}
.footer li{
    padding-block: 10px ;
}
.footer a, .footer a:visited{
    color: white;
    text-decoration: none;
}