.container{
    width: fit-content;
    display: flex;
    gap: 50px;
    /* align-items: baseline; */
}
.container aside{
    width: 500px;
    color: black;
}
.container aside h2{
    margin: 0;
    color: black;
    font-size: 40px;
}
.container aside p{
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
}