.btn{
    padding: 12px 50px;
    text-transform: uppercase;
    font-weight: 900;
    transition: all 300ms ease-in-out;
    border-radius: 5px;
    border: 1px solid rgb(158, 158, 158);
}
.primary_btn{
    background-color: #ffffff7e;
    color: black;
    background-color: #2d383c;
    color: whitesmoke;
}
.secondary_btn{
    color: white;
    background-color: #39ace7;
}
.btn:hover{
    cursor: pointer;
}