.container{
    position: relative;
    padding: 100px 50px;
    border-radius: 30px 0 ;
    box-sizing: border-box;
    height:100%;
    /* display: grid;
    align-items: center; */
}
.container h1{
    text-transform: uppercase;
}
.container h2{
    margin-top: 10px;
    margin-bottom: 50px;
    color: black;
    color: #39ace7 !important;
}
.container h3{
    color: #39ace7 !important;
}
.container input{
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 30px;
    border: 1px solid gainsboro;
    padding-inline:15px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.057);
    background-color: white;
}
.container input:focus, .container textarea:focus {
    outline: 1px solid #39ace7;
}
.container a{
    color: #39ace7;
    text-decoration: none;
}
.container p{
    font-size: 14px;
}

.container input[type="submit"]{
    width: fit-content;
    padding-inline: 50px;
    border:none;
    color: white;
    text-transform: uppercase;
    margin: auto;
    background-color: #39ace7;
}

.container label{
    position: relative;
    display:block;
    color: black;
    font-weight: 900;
}
.container label span{
    position: absolute;
    top: -6px;
    left: 10px;
    padding-inline: 5px;
    /* background-color: white; */
    text-transform: uppercase;
    font-size: 12px;
}
.container textarea{
    resize: vertical;
    min-height: 150px;
    border-radius: 20px;
    /* background-color: gray; */
    border: 1px solid gainsboro;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.057);
    background-color: white;
}
.container button{
    padding:10px 20px;
    border: 1px solid gainsboro;
    border-radius: 50px;
    background-color: #39ace7;
    color: white;
}
.container input[type="submit"]{
    padding:10px 20px;

}

@media print{
    .container{
        display: none;
    }
}