.header{
    padding-inline: 100px;
    padding-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    background-color: #39ace7;
    color: black;
    background-color: #2d383c;
    gap: 50px;
    justify-content: center;
    /* min-height: calc(100vh - 117px); */
    background-color: white;
    max-width: 2000px;
    margin: auto;
}
.header>img{
    max-width: 500px;
    width: 40%;
    border-radius: 50%;
}
.header div{
    /* max-width: 900px; */
    /* margin: auto; */
    /* text-align: center; */
}
.header h1{
    font-weight: 900;
    font-size: 50px;
    margin-block: 0;
}
.header p{
    font-size: 20px;
    font-weight:300;
}
.secondary_color{
    color: #39ace7;
    /* color: #fe6703; */
}
.templates h2{
    position: relative;
    margin-bottom: 100px;
    margin-top: 50px;
}
.templates h2::after{
    content: 'FREE';
    position: absolute;
    top: 0px;
    padding:5px 10px;
    background-color: #fe6703;
    color: white;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 500;
}
.templates{
    display: grid;
    justify-content: center;
    max-width: 2000px;
    margin-inline: auto;
    padding-inline: 100px;
}
.templates h2{
    margin-bottom: 100px;
    margin-inline: 20px;
}
@media screen and (max-width:720px){
    .header{
        margin: 0 50px;
    }
}