.header{
    padding-block: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: #2d383c;
    gap: 50px;
    justify-content: center;
    background-color: white;
    max-width: 1500px;
    margin: auto;
}
.btn_container {
    display: flex;
    gap: 20px;
}
.header img{
    max-width: 400px;
    width: 300px;
    border: 10px solid white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header h1{
    font-weight: 500;
    font-size: 50px;
    margin-block: 0;
    color: #2d383c;
}
.header p{
    font-size: 20px;
    font-weight:300;
    line-height: 30px;
}
.secondary_color{
    color: #39ace7;
}

@media screen and (max-width:720px){
    .header{
        margin: 0 50px;
    }
}