.header{
    width: 500px;
    margin: auto;
    padding-bottom: 100px;
}
.header h1{
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
}
.header p{
    font-size: 20px;
}
.secondary_color{
    color: #fe6703;
    color: #00C8AA;
    color: #39ace7;
}

@media screen and (max-width:720px){
    .header{
        width: 80%;
    }
}